header{
    background-color: #044CF4;
    width: 90%;
    border-radius: 10px;
    height: 12%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgLogo{
    background: url(../img/uniforLogo.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 18%;
}


.imgName{
    margin-top: 10px;
    background: url(../img/nameChatCCT.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
}