@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');


.container{
    height: 95%;
    width: 95%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 10%;
    align-items: center;

}

.midlle p {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.bottom{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.bottom button{
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    transition: .5s;
    cursor: pointer;
    text-align: center;
}

.bottom button:hover{
    background-color: #f9f7f7;
    color: black;
}