
.idetificationContainer{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}

.idetificationTop{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 10%;
    align-items: center;

}
.idetificationMidlle{
    width: 100%;
    display: flex;
    justify-content: center;
}

.idetificationMidlle p {
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.idetificationBottom{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.idetificationBottom .idetificationButton{
    background-color: blue;
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idetificationBottom .idetificationButton:hover{
    background-color: #f9f7f7;
    color: black;
}