@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');


.informationContainer{
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}

.informationLeft{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.informationText{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informationText p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.informationInfo{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrada{
    height: 50%;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: rgb(191, 191, 191);
    padding: 0 10px;
    font-size: 25px;    
}

.informationNext{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: end;
    
}