

.introductioContainer{
    background: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.introduction{
    background-color: #ffffff;
    width: 100%;
    height: 70%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #0B0B0B;
}   


.introduction p{
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.introductionBottom{
    width: 100%;
    display: flex;
    justify-content: end;
}

.moemaIntroduction{
    background: url(../img/emaDeitada.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 70%;
    width: 40%;
    bottom: 30px;
    left: 120px;
}