@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

.container{
    height: 80%;
    width: 95%;
    border-radius: 35px;
    background: none;
    display: flex;
    flex-direction: column;

}

.introduction{
    background-color: #fff;
    height: 80%;
    width: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.introduction p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}   

button{
    position: absolute;
    right: 80px;
    bottom: 100px;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

button:hover{
    background-color: #f9f7f7;
    color: black;
}

button .img{
    height: 20px;
    width: 20px;
    background: url(../img/seta-direita.png);
    background-size: cover;
    transition:  .5s;
}

button:hover .img{
    background: url(../img/seta-direita-preta.png);
    background-size: cover;
}