@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

.sair{
    background-color: rgb(39, 39, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    transition: .5s;
    cursor: pointer;
}

.sair .img{
    background: url(../img/seta-direita.png);
    background-size: cover;
    height: 18px;
    width: 18px;
    transition: .5s;
}

.sair:hover{
    background-color: #f9f7f7;
    color: black;
}

.sair:hover .img{
    background: url(../img/seta-direita-preta.png);
    background-size: cover;
}