@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

button{
    background-color: #044CF4;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 8px 15px;
    font-size: 20px;
    color: #E4F2FE;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

button:hover{
    background-color: #f9f7f7;
    color: black;
}

button .img{
    height: 20px;
    width: 20px;
    background: url(../img/seta-direita.png);
    background-size: cover;
    transition:  .5s;
}

button:hover .img{
    background: url(../img/seta-direita-preta.png);
    background-size: cover;
}