@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

.questionButton{
    width: 180px;
    height: 30px;
    background-color: rgb(203, 203, 203);
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.questionButton:hover{
    color: #fff;
    background-color: blue;
}